{% extends 'eduquiz/base.html' %}
{% load staticfiles %}

{% block head %}
  <script src="{% static "quiz/js/moment.js" %}"></script>
  <script src="{% static "quiz/js/chart.min.js" %}"></script>
{% endblock head %}

{% block content %}

  <div class="ui middle aligned center aligned grid">
    <div class="ui container stackable grid account">
      <div class="four wide column left">
        <div class="ui segment">
          <div class="ui secondary vertical menu">
            <a class="active item" data-tab="first">Overview</a>
            <a class="item" data-tab="second">Settings</a>
            <a class="item" data-tab="third">Other</a>
          </div>
        </div>

      </div>
      <div class="twelve wide column">
        <div class="ui segment tab active" data-tab="first">
          Overview
        </div>
        <div class="ui segment tab" data-tab="second">
          Settings
        </div>
        <div class="ui segment tab" data-tab="third">
          Other
        </div>
      </div>
    </div>
  </div>

  <style>
    .account.container {
      height: auto;
      padding: 30px;
      margin-top: 100px !important;
      margin-bottom: 50px !important;
      z-index: 0;
    }
    .segment.tab {
      margin: 0;
    }


  </style>

  <script>
  $(function() {
    $('.menu .item').tab();
  });
  </script>
{% endblock content %}
