{% extends 'eduquiz/base.html' %}
{% load staticfiles %}
{% include 'eduquiz/header.html' %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static "eduquiz/css/header.css" %}">
{% endblock head %}

{% block header %}
  {% include 'eduquiz/header.html' %}
{% endblock header %}

{% block content %}
  <form class="ui form" action="/">

    <div class="field">
      <label><b>Username</b></label>
      <input type="text" name="Enter username" placeholder="Username" required style='width: 300px'>
    </div>

    <div class="field">
      <label>Password</label>
      <input type="password" name="password" placeholder="Password" style='width:300px'>
    </div>

    <button class="ui button" type="submit">Login</button>

  </form>
{% endblock content %}
