<div class="ui modal register">
  <!--<i class="close icon"></i>-->
    {{ form }}

   <div class="header">
  Register
   </div>

  <div class="content">
    <div class="description">
        <form class="ui form" action="/athentication/register/" method = "POST">
          <div class="two fields">
              <div class="field">
                <label for="id_firstName">First name</label>
                    <input id="id_firstName" placeholder ="First name " maxlength="15" name="firstName" type="text" required="">
              </div>

              <div class="field">
                <label for="Surname">Last name</label>
                <input id="Surname" placeholder="Surname" type="text">
              </div>
          </div>
          <div class="field">
            <label for="Email">Email</label>
            <input id="Email" placeholder="Email" type="text">
          </div>
          <div class="field">
            <label for="Username">Username</label>
            <input id="Username" placeholder="Username" type="text">
          </div>
          <div class="two fields">
            <div class="field">
              <label for="password">Password</label>
              <input id="id_password" type="password" placeholder="Password mother fucker">
            </div>

            <div class="field">
              <label for="PasswordConfirm">Password Confirm</label>
              <input id="PasswordConfirm" type="password" placeholder="Password again mother fucker">
            </div>
          </div>
        </form>
    </div>
  </div>
    <div class="actions">
        <div class="ui positive right icon button submit">
            Submit
        </div>
    </div>
</div>

<script>
    $(".register.button").click(function() {
    $('.ui.modal.register').modal('show');
  });
</script>

