<div class="ui modal register">
  <!--<i class="close icon"></i>-->
   <div class="header">
  Register
   </div>

  <div class="content">
    <div class="description">
        <form class="ui form" action="/athentication/register/" method = "POST">
          <div class="two fields">
              <div class="field">
                <label for="id_firstName">First name</label>
                  <input id="id_firstName" placeholder ="First name " maxlength="15" name="firstName" type="text" required="">
              </div>

              <div class="field">
                <label for="id_lastName">Last name</label>
                  <input id="id_lastName" maxlength="15" placeholder ="Last name" name="lastName" type="text" required="">
              </div>
          </div>
          <div class="field">
            <label for="id_email">Email</label>
            <input id="id_email" maxlength="50" placeholder ="E-mail" name="email" type="email" required="">
          </div>
          <div class="field">
            <label for="id_username">Username</label>
            <input id="id_username" maxlength="15" name="username" placeholder ="Username" type="text" required="">
          </div>
          <div class="two fields">
            <div class="field">
              <label for="id_password">Password</label>
              <input id="id_password" maxlength="30" name="password" placeholder ="Password" type="password" required="">
            </div>

            <div class="field">
              <label for="id_passwordConfirm">Confirm password</label>
              <input id="id_passwordConfirm" maxlength="30" name="passwordConfirm" placeholder ="Confirm password" type="password" required="">
            </div>
          </div>
        </form>
    </div>
  </div>
    <div class="actions">
        <div class="ui positive right icon button submit">
            Submit
        </div>
    </div>
</div>

<script>
    $(".register.button").click(function() {
    $('.ui.modal.register').modal('show');
  });
</script>

