{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <title>EDUQUIZ</title>
    <link rel="shortcut icon" type="image/png" href="{% static "eduquiz/img/favicon.ico" %}">
    <link rel="stylesheet" type="text/css" href="{% static "eduquiz/css/semantic.min.css" %}">

    <link rel="stylesheet" type="text/css" href="{% static "eduquiz/css/style.css" %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    {% block head %}
    {% endblock head %}

    <script src="{% static "eduquiz/js/jquery-3.1.1.min.js" %}"></script>
    <script src="{% static "eduquiz/js/semantic.min.js" %}"></script>
  </head>

  <body>
    <div class="pusher">
      <div class="page">
        {% block header %}
        {% endblock header %}

        {% block content %}
        {% endblock content %}

        {% include 'authentication/login_modal.html' %}
      </div>
    </div>
  </body>

  {% block footer %}
  {% endblock footer %}

</html>
