{% load staticfiles %}

<div class="desktop">
  <div class="ui top massive menu">
    <a href="/">
      <div class="item">
          <img class="logo" src="{% static "eduquiz/img/logo.png" %}">
      </div>
    </a>
    {% if user.is_authenticated %}
      <a class="item play button">
        Play
      </a>
    {% endif %}
    <div class="ui dropdown item">
      <div class="text">Create question</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="/quiz/new/multiplechoice">multiple choice</a>
          <a class="item" href="/quiz/new/trueorfalse">true or false</a>
          <a class="item" href="/quiz/new/textanswer">text answer</a>
      </div>
    </div>
    {% if user.is_authenticated %}
      <div class="ui dropdown item">
        <div class="text">{{ user }} - {{ user.player.rating|floatformat:"0" }}</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="#">My account</a>
          <a class="item" href="#">Change password</a>
          <a class="item" href="#">Sign out</a>
        </div>
      </div>
    {% else %}
      <a class="item login button">
        Sign in
      </a>
    {% endif %}
  </div>
</div>

<div class="mobile">
  <div class="ui top massive menu">
    <div class="item">
      <img class="logo" src="{% static "eduquiz/img/logo.png" %}">
    </div>
    <a class="item mobile sidetoggle"><i class="material-icons">menu</i></a>
  </div>
</div>

<div class="mobile">
  <div class="ui sidebar inverted vertical menu">
    <a class="item" href="/quiz">
      Play
    </a>

    {% if user.is_authenticated %}
      <a class="item" href="/account">
        My Account
      </a>
    {% else %}
      <a class="item login">
        Sign in
      </a>

    {% endif %}
  </div>
</div>

<script>
  $(function() {
    $('.ui.sidebar').sidebar('setting', 'transition', 'overlay');
    $(".sidetoggle").click(function() {
      $('.ui.sidebar').sidebar('toggle');
    });
    $('.ui.dropdown').dropdown({
      action: 'hide',
    })
  });
</script>
