{% load staticfiles %}

<div class="desktop">
  <div class="ui top massive menu">
    <div class="item">
      <img class="logo" src="{% static "eduquiz/img/logo.png" %}">
    </div>
    <a class="item">Play</a>
    <a class="item">Sign in</a>
  </div>
</div>

<div class="mobile">
  <div class="ui top massive menu">
    <div class="item">
      <img class="logo" src="{% static "eduquiz/img/logo.png" %}">
    </div>
    <a class="item mobile sidetoggle"><i class="material-icons">menu</i></a>
  </div>
</div>

<div class="mobile">
  <div class="ui sidebar inverted vertical menu">
    <a class="item">
      Play
    </a>
    <a class="item">
      Sign in
    </a>
  </div>
</div>

<script>
  $(function() {
    $('.ui.sidebar').sidebar('setting', 'transition', 'overlay');
    $(".sidetoggle").click(function() {
      $('.ui.sidebar').sidebar('toggle');
    });
  });
</script>
