{% extends 'eduquiz/base.html' %}
{% load staticfiles %}

{% block content %}


<div class="ui middle aligned center aligned grid">
    <div class="ui container stackable grid frontpage">
        <div class="six wide column left">
            <div class="ui segment">
                <h1>Welcome to eduquiz!</h1>
                <p style="font-size: 16px">Eduquiz is a web based quiz for busy students that need a fun way of
                    studying for their exams. By providing you with questions matching your skill level within a subject,
                    eduquiz makes sure you're asked the questions you need to improve.</p>
            </div>
            <div class="ui segment">
                <h1>Register today!</h1>
                <p style="font-size: 16px">Registration is quick and easy. Once your user is created, you will immediately be able to begin
                    learning with the help of our question database. As long as you have an internet connection you can
                    access Eduquiz anywhere, at any time, completely free of charge! Never before has learning been this
                    easy and fun. Try it out yourself today!</p>
            </div>
        </div>
        <div class="ten wide column">
             <img id="procutIllustration" src="{% static "eduquiz/img/illustration.svg" %}">
        </div>

<style>
    .container.frontpage {
        margin-top: 15vh !important;
    }
    #procutIllustration {
        display: inline-block;
        margin: 0;
    }
    #frontpage_info {
        display: inline-block;
        margin-top: 3vh;
    }
</style>

{% endblock content %}
