{% extends 'eduquiz/base.html' %}
{% load staticfiles %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static "eduquiz/css/header.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "quiz/css/viewReports.css" %}">
{% endblock head %}

{% block header %}

  {% include 'eduquiz/header.html' %}

{% endblock header %}

{% block content %}
    <div class="reports">

        <div class="ui piled segment report" report="{{ report.id }}">
            <div class="content">
                <h2>
                    {{ question }}
                </h2>
                <br>
                <div class="actions">
                    <a class="ui negative right icon button submit delete_question">
                        Delete question
                    </a>
                </div>
            </div>
        </div>

        {% for report in reports %}
            <div class="ui piled segment report" report="{{ report.id }}">
                <div class="content">
                    {% if report.red_right %}
                        <div class="questionText">Red right</div>
                    {% endif %}
                    {% if report.green_wrong %}
                        <div class="questionText">Green wrong</div>
                    {% endif %}
                    {% if report.unclear %}
                        <div class="questionText">Unclear</div>
                    {% endif %}
                    {% if report.off_topic %}
                        <div class="questionText">Off topic</div>
                    {% endif %}
                    {% if report.inappropriate %}
                        <div class="questionText">Inappropriate</div>
                    {% endif %}
                    {% if report.other %}
                        <div class="questionText">Other</div>
                    {% endif %}
                    <div class="questionText">{{ report.comment }}</div>
                    <div class="actions">
                        <a class="ui negative right icon button submit delete_report" href="/quiz/viewreports/deletereport/{{ question_id }}/{{ report.id }}">
                            Delete report
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}
