{% extends 'eduquiz/base.html' %}
{% load staticfiles %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static "eduquiz/css/header.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "quiz/css/multipleChoiceQuestion.css" %}">
{% endblock head %}

{% block header %}

  {% include 'eduquiz/header.html' %}

{% endblock header %}

{% block content %}

  <div class="quiz">
    <div class="ui piled segment question" question="{{ question.id }}">
      <div class="content">
        <h4 class="info stuff">
          {{ question.topic }} - {{ question.topic.subject.code }}<br>
        </h4>

        <div style="height: 70px;"></div>

        <div style="position: relative;">

          <div class="ui questionText">
          {{ question }}
          </div>
        </div>
      </div>

      <form class="ui form">
        <div class="field">
          <input type="text" class="inputfield">
        </div>
        <div class="ui primary button">Submit</div>
      </form>
    </div>
  </div>

  <style>
    .ui.form.segment {
      padding: 0px;
      border: 0px;
    }
    .message {
      display: none;
    }
    .card {
        margin: 1% !important;
        width: 100% !important;
    }
    .card {
        margin: 0px 0px 0px 0px !important;
        background-color: blue;
    }
    .correct {
      color: #4C7D4C !important;
      border-color: #A3C293 !important;
      background-color: #FCFFF5 !important;
    }
  </style>

  <script>
    var answered = false;

    $('.button').click(function() {
      if (!answered) {
        answered = true;

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            }
        });

        $.ajax({
          type: "POST",
          url: '',
          data: {
            'question': $('.question').attr('question'),
            'answer': $('.inputfield').val(),
          },
          success: function(data) {

            var answer = data['answer'];
            var correct = data['correct'];
            var answeredCorrect = data['answeredCorrect'];

            if (answeredCorrect) {
              $('.inputfield').addClass('correct');
            } else {
              $('.inputfield').parent().addClass('error');
            }

            setTimeout(function() {
              location.reload();
            }, 500);
          }
        });
      }
    });


  </script>

{% endblock content %}
