<div class="ui modal report">
  <!--<i class="close icon"></i>-->
  <div class="header">
    Report
  </div>
  <div class="content">
    <div class="description">
      <form class="ui form report" action="/quiz/report/" method="POST">
        {% csrf_token %}

        <div class="field">
          <label>Username</label>
          <input id="id_username" type="text" name="username" value="{{ form.username.value }}" required>
        </div>
        <div class="field">
          <label>Password</label>
          <input id="id_password" type="password" name="password" required>
        </div>
      </form>
    </div>
  </div>
  <div class="actions">
    <div class="ui positive right icon button submit report">
      OK
    </div>
  </div>
</div>

<script>
  $(".report.button").click(function() {
    $('.ui.modal.report').modal('show');
  });

  $(".report.button.submit").click(function() {
    $('form.report').submit();
  });

  $("#id_username").keypress(function(event) {
    if (event.which == 13) {
      event.preventDefault();
      $("#id_password").focus();
    }
  });

  $("#id_password").keypress(function(event) {
    if (event.which == 13) {
      event.preventDefault();
      $('form.login').submit();
    }
  });
  $(function() {
    if ($(".loginerror").length) {
      $('.login.modal').modal({
        autofocus: false,
      });
      $('.login.modal').modal('show');
      setTimeout(function() {$("#id_password").focus();}, 600);
    }
  });
</script>

