<div class="ui modal report">
  <!--<i class="close icon"></i>-->
  <div class="header">
    Report
  </div>
  <div class="content">
    <div class="description">
      <form class="ui form report" action="/quiz/report/" method="POST">
        {% csrf_token %}

        <!-- TODO: send correct values with the form, add all necessary fields -->

        <div class="ui form">
          <input name="question" id="question" value="{%  %}">
        </div>
        <div class="ui form">
          <div class="inline field">
            <div class="ui checkbox">
              <input type="checkbox" name="unclear" tabindex="1" class="hidden">
              <label>Ambiguous/unclear question</label>
            </div>
          </div>
        </div>
        <div class="ui form">
          <div class="inline field">
            <div class="ui checkbox">
              <input type="checkbox" name="green_wrong" tabindex="2" class="hidden">
              <label>Green answer is wrong</label>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="actions">
    <div class="ui positive right icon button submit report">
      OK
    </div>
  </div>
</div>

<script>
  $(".report.button").click(function() {
    $('.ui.modal.report').modal('show');
  });

  $(".report.button.submit").click(function() {
    $('form.report').submit();
  });

  $('.ui.checkbox')
    .checkbox()
  ;
</script>

