<div class="ui modal report">
  <!--<i class="close icon"></i>-->
  <div class="header">
    Report
  </div>
  <div class="content">
    <div class="description">
      <form class="ui form report" action="/quiz/report/" method="POST">
        {% csrf_token %}

        <div class="ui form">
          <div class="inline field">
            <label>Question</label>
            <div class="ui dropdown questions selection">
              <input type="hidden" name="question_text">
              <i class="dropdown icon"></i>
              <div class="default text">Choose</div>
              <div class="menu">
                <a class="item" data-value="{{ question.question_text }}">{{ question.question_text }}</a>
                {% for q in recent_questions %}
                  {% if q.text != '' %}
                    <a class="item" data-value="{{ q.text }}">{{ q }}</a>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

        <br>


        <div class="ui form">
          <div class="inline field">
            <div class="ui checkbox">
              <input type="checkbox" name="red_right" tabindex="1" class="hidden">
              <label>Red answer is right</label>
            </div>
          </div>
        </div>

        <div class="ui form">
          <div class="inline field">
            <div class="ui checkbox">
              <input type="checkbox" name="green_wrong" tabindex="2" class="hidden">
              <label>Green answer is wrong</label>
            </div>
          </div>
        </div>

        <div class="ui form">
          <div class="inline field">
            <div class="ui checkbox">
              <input type="checkbox" name="unclear" tabindex="3" class="hidden">
              <label>Ambiguous/unclear question</label>
            </div>
          </div>
        </div>

        <div class="ui form">
          <div class="inline field">
            <div class="ui checkbox">
              <input type="checkbox" name="off_topic" tabindex="3" class="hidden">
              <label>Question is off-topic</label>
            </div>
          </div>
        </div>

        <div class="ui form">
          <div class="inline field">
            <div class="ui checkbox">
              <input type="checkbox" name="inappropriate" tabindex="3" class="hidden">
              <label>Inappropriate question</label>
            </div>
          </div>
        </div>

        <div class="ui form">
          <div class="inline field">
            <div class="ui checkbox">
              <input type="checkbox" name="other" tabindex="4" class="hidden">
              <label>Other</label>
            </div>
          </div>
        </div>

        <br>

        <div class="ui form">
          <div class="field">
            <label>Comment</label>
            <input type="text" name="comment">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="actions">
    <div class="ui positive right icon button submit report">
      OK
    </div>
  </div>
</div>

<script >
  $(function() {
    $(".report.button").click(function() {
      $('.ui.modal.report').modal('show');
    });

    $(".report.button.submit").click(function() {
      $('form.report').submit();
    });

    $('.ui.checkbox').checkbox();
    $('.ui.questions').dropdown();
  });
</script>

