{% extends 'eduquiz/base.html' %}
{% load staticfiles %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static "quiz/css/multipleChoiceQuestion.css" %}">
{% endblock head %}

{% block content %}

  <div class="ui middle aligned center aligned grid">
    <div class="column select topics">
      <div class="ui card">

        <div class="content">
          <div class="header">
            Select topics
          </div>
        </div>

        <div class="content">
          <form class="ui form topics" action="" method="POST">
            {% csrf_token %}

            <div class="ui selection subject dropdown search scrolling field">
              <input class="dummy" name="subject" type="hidden">
              <i class="dropdown icon"></i>
              <div class="default text">Subject</div>
              <div class="menu">
                {% for subject in subjects %}
                  <div class="item" data-value="{{ subject.title }}">{{ subject.title }}</div>
                {% endfor %}
              </div>
            </div>

            <div class="ui multiple search dropdown topics selection scrolling field">
              <input class="dummy" name="topics" type="hidden">
              <i class="dropdown icon"></i>
              <div class="default text">Topic</div>
              <div class="menu">
                {% for topic in topics %}
                  <div class="item topic" subject="{{ topic.subject.title }}" data-value="{{ topic }}">{{ topic }}</div>
                {% endfor %}
              </div>
            </div>
          </form>
        </div>

        <div class="contet extra">
          <div class="actions select topics">
            <div class="ui positive right icon button submit">
              Go
            </div>

            <div class="ui icon button gray left clear emptytopics">
              Clear topics
            </div>
            <div class="ui icon button gray left clear addalltopics">
              All topics
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    .topics.dropdown, .subject.dropdown {
      vertical-align: top;
      width: 100%;
    }

    .actions.select .clear {
      float: left !important;
    }

    .actions.select.topics {
      text-align: right;
    }

    .column.select.topics {
      margin-top: 100px;
    }

    .column.select {
      width: -webkit-fit-content !important;
      width: -moz-fit-content !important;
    }
  </style>

  <script>

      function filterTopics() {
          $('.topic.item').each(function () {
              if ($(this).attr('subject') != $('input[name="subject"]').val()) {
                  $(this).addClass('disabled');
                  $(this).css('display', 'none');
              } else {
                  $(this).removeClass('disabled');
                  $(this).css('display', 'block');
              }
              $('.topics.dropdown').dropdown('clear');
          });
      };

      $(function () {
          $('.topics.dropdown').dropdown();
          $('.subject.dropdown').dropdown();

          // filter topics based on subject when subject is changed
          $('input[name="subject"].dummy').change(function () {
              filterTopics();
          });

          $('.subject.dropdown').dropdown('set exactly', '{{ subject.title }}');
          filterTopics();
          $('.topics.dropdown').dropdown('set exactly', [{% for element in playerTopics %}'{{ element }}', {% endfor %}]);

          $(".button.submit").click(function () {
              $('form.topics').submit();
          });
          $('.button.emptytopics').click(function () {
              $('.topics.dropdown').dropdown('set exactly', '{{ None }}');
          });
          $('.button.addalltopics').click(function () {
              var subject = $('input[name=subject]').val();
              var subject_dict = {{ subject_dict|safe }};
            $('.topics.dropdown').dropdown('set exactly', subject_dict[subject]);
          });
      });

  </script>

{% endblock content %}
