{% extends 'eduquiz/base.html' %}
{% load staticfiles%}

{% block head %}
  <script src="{% static "quiz/js/moment.js" %}"></script>
  <script src="{% static "quiz/js/chart.min.js" %}"></script>
{% endblock head %}

{% block content %}

  <div class="ui middle aligned center aligned grid">
    <div class="ui container segment rating">
      <canvas id="myChart" width="400" height="200"></canvas>
    </div>
  </div>

  <style>
    .rating.segment {
      height: auto;
      padding: 30px;
      margin-top: 100px !important;
      margin-bottom: 50px !important;
    }
  </style>

  <script>
    var ctx = document.getElementById("myChart");
    var myLineChart = new Chart(ctx, {
      type: 'doughnut',
      data: {
            labels: [{% for title in request.user.player.subjectAnswers.1 %}'{{ title }}', {% endfor %}],
            datasets: [{
                label: 'Subjects',
                data: {{ request.user.player.subjectAnswers.0 }},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                ],
                borderWidth: 1
            }]
        },

    });
  </script>
{% endblock content %}
