{% extends 'eduquiz/base.html' %}
{% load staticfiles %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static "eduquiz/css/header.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "quiz/css/viewReports.css" %}">
{% endblock head %}

{% block header %}

  {% include 'eduquiz/header.html' %}

{% endblock header %}

{% block content %}
    <div class="reports">
        {% for tuple in reports %}
            <div class="ui {% if tuple.1 > 5 %}piled{%endif%} segment report" report="{{ report.id }}">
                <div class="content">
                    <h4 class="info stuff">
                         {{ tuple.0.topic }} - {{ tuple.0.topic.subject.code }}<br>
                     </h4>

                    <div style="position: relative;">
                        <div class="ui questionText">
                            {{ tuple.0 }}
                         </div>
                    </div>

                    <div style="position: relative;">
                        <div class="ui reportCount">
                            reportcount: {{ tuple.1 }}
                         </div>
                    </div>
                </div>
                <a href="/quiz/viewreports/handlereport/{{ tuple.0.id }}/"></a>
            </div>
        {% endfor %}
    </div>
<style>
.questionText {
  font-size: 20px;
}
.reportCount {
  font-size: 20px;
}
.segment.report {
  padding: 20px;
  min-height: 175px !important;
  height: 175px;
  margin: 5 !important;
}
</style>
{% endblock content %}
